<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <!---   <link rel="stylesheet" href="style.css">-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

    <div id="page" class="site">
        <div class="containerr">
            <nav class="nav">
                <ul>
                    <li >
                        <a href="#home" ><span>Home</span><i class="ri-home-5-line"></i></a>
                    </li>
                    <!--
                    <li>
                        <a href="#Drop" ><span>Drop</span><i class="ri-contrast-drop-2-line"></i></a>
                    </li>-->
                    <li class="active" >
                        <a href="#Store"  >
                            <span>Store</span>
                            <i class="ri-add-circle-line"></i>
                            <span class="label sale">sale</span>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="#Wishlits" ><span>Wishlits</span><i class="ri-hearts-line"></i></a>
                    </li>-->
                    <li>
                        <a href="#Cart" >
                            <span>Cart</span>
                            <i class="ri-pie-chart-2-line"></i>
                            <span class="label cart">0</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--
            <section>
                <div id="home">
                    <h2>home</h2>
                </div>
                <div id="Drop">
                    <h2>Drop</h2>
                </div>
                <div id="Store">
                    <h2>Store</h2>
                </div>
                <div id="Wishlits">
                    <h2>Wishlits</h2>
                </div>
                <div id="Cart">
                    <h2>Cart</h2>
                </div>
            </section>-->
        </div>
    </div>


  <!--  <script src="script.js"></script>-->
</body>
</html>