<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <!---   <link rel="stylesheet" href="style.css">-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

    <div id="page" class="site">
        <div class="containerr">
            <nav class="nav">
                <ul>
                    <li >
                        <a href="../view/inventario.php" >
                            <span>Home</span>
                            <i class="ri-home-5-line"></i>
                        </a>
                    </li>
                    <li class="active" >
                        <a href="#" onclick="openModal()">
                            <span>Agregar</span>
                            <i class="ri-add-circle-line"></i>
                            <span class="label sale">sale</span>
                        </a>
                    </li>
                    <li>
                        <a href="../view/estadistica.php" >
                            <span>Datos</span>
                            <i class="ri-pie-chart-2-line"></i>
                            <span class="label cart">0</span>
                        </a>
                    </li>
                </ul>
            </nav>
                     
        </div>
    </div>

    <script scr="../controller/inventario.js">

    </script>
</body>
</html>