table {border-collapse: collapse;}
#example{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
        }

div#example_filter {
    margin-bottom: 15px;
}

body{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.col-span-3.md\:col-span-1.bg-indigo-800.p-4.flex.flex-col.items-center {
    font-weight: 600;
}
.font-medium {
    font-weight: 600;
}

li {
    text-wrap: initial;
    white-space:normal;
   /* width:200px;*/
}

@media (max-width: 600px) {
    .col-span-3.md\:col-span-2.p-4 {
        font-size: 13px;
    }
    th.font-semibold.text-sm.uppercase.px-6.py-4.id.sorting.sorting_desc {
        width: 50px !important;
    }
  }