.col-span-3.md\:col-span-2.p-4.bg-white {
    padding-bottom: 150px;
}
table {border-collapse: collapse;}
#example{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
        }

div#example_filter {
    margin-bottom: 15px;
}

body{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.col-span-3.md\:col-span-1.bg-indigo-800.p-4.flex.flex-col.items-center {
    font-weight: 600;
}
.font-medium {
    font-weight: 600;
}

li {
    text-wrap: initial;
    white-space:normal;
   /* width:200px;*/
}
a.text-white.text-sm.w-1\/3.pb-1.bg-blue-400.font-semibold.px-2.rounded-full.boton {
    font-size: 20px !important;
}

@media (max-width: 768px) {
    td.prueba {
      max-width: 100%; /* Establece el ancho máximo al 100% del contenedor padre */
      overflow: auto;   /* Agrega barras de desplazamiento cuando sea necesario */
      white-space: normal; /* Permite que el texto se divida automáticamente */
      font-size: 10px;
    }
  }


@media (max-width: 600px) {
    .col-span-3.md\:col-span-2.p-4 {
        font-size: 13px;
    }
    th.font-semibold.text-sm.uppercase.px-6.py-4.id.sorting.sorting_desc {
        width: 50px !important;
    }
  }